/* Reseta as margens e preenchimentos padrão */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*mitan_pati-pye_pati-kó_pati-tèt*/
.first_container_header,
main,
footer {
  background-color: var(--Cor-transparent);
}

/*pye_tèt*/
header,
.footerpajlan {
  background-color: var(--Cor-black);
}

body {
  background-color: var(--Cor-black);
}

.bodypajlan {
  background-color: var(--Cor-transparent);
}

.sob_main_princ {
  background-color: var(--Cor-transparent);
}

a {
  text-decoration: none;
  list-style: none;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  justify-content: center;
  align-items: center;
}

.bodypajlan {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header_princ {
  background-color: var(--Cor-transparent);
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  background-color: var(--Cor-blackPal);
  border-bottom: 0.2px solid var(--Cor-white);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: end;
  justify-content: center;
}

.first_container_header {
  background-color: var(--Cor-transparent);
  width: 1500px;
  height: 93px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.navigation {
  background-color: var(--Cor-transparent);
  width: 1250px;
  height: 93px;
  padding: 5px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
}

.header_c_bot {
  background-color: var(--Cor-transparent);
  width: 400px;
  height: 55px;
  gap: 2px;
  padding: 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#barra {
  width: 300px;
  height: 30px;
  padding: 15px;
  border-radius: 50px;
  text-align: justify;
  font-size: 16px;
}

.input_c {
  background-color: var(--Cor-transparent);
  width: 300px;
  height: 60px;
  gap: 5px;
  padding: 1px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#textinput {
  background-color: var(--Cor-transparent);
  width: 100%;
  height: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#bot_c {
  background-color: var(--Cor-white);
  width: 30px;
  height: 30px;
  border-radius: 50px;
}

c_menuheader {
  display: flex;
}

.menuheader {
  display: none;
}

#menu {
  background-color: var(--Cor-white);
  font-size: 35px;
  cursor: pointer;
}

.header_list {
  gap: 5px;
  text-decoration: none;
  list-style: none;
  display: flex;
}

.headers_link {
  background-color: var(--Cor-black);
  border-radius: 5px;
  padding: 10px 20px;
  color: var(--Cor-white);
  font-size: 1.3rem;
  font-weight: lighter;
}

.headers_link:hover {
  background-color: var(--Cor-white);
  color: var(--Cor-black);
}

.sob_main_princ {
  width: 95%;
  padding: 1px;
  display: flex;
  justify-content: center;
}

.main_princ {
  background-color: transparent;
  width: 90%;
  gap: 2px;
  padding: 1px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

#aside_R {
  background-color: var(--Cor-cinzamedio);
  width: 400px;
  padding: 1px;
  justify-content: center;
  animation: directRA 1.5s;
}

.c_aside_R {
  background-color: var(--Cor-transparent);
  width: 100%;
  height: 100%;
  gap: 5px;
  padding: 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aside_hpp {
  background-color: var(--Cor-transparent);
  width: 100%;
  padding: 40px 10px 2px 10px;
  gap: 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: directRB 2.5s;
}

.oculto {
  visibility: hidden;
}

.aside_E {
  background-color: var(--Cor-blackPal);
  width: 210px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.c_aside_E {
  background-color: var(--Cor-transparent);
  width: 200px;
  height: 100%;
  padding: 1px;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.c_but {
  background-color: var(--Cor-black);
  width: 180px;
  padding: 5px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.faixabutasideE1 {
  background-color: var(--Cor-blackPal);
  width: 100%;
  height: 300px;
  padding: 1px;
  gap: 5px;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.c_faixabutasideE1 {
  background-color: var(--Cor-transparent);
  width: 200px;
  height: 100%;
  gap: 5px;
  padding: 20px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.faixaanimation {
  width: 180px;
  height: 120px;
  gap: 6px;
  padding: 5px;
  bottom: 2.5%;
  right: 10px;
  position: fixed;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: left;
}

#animat {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 120px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: zumA 3s infinite;
  animation-delay: 1s;
}

#C_divparagrafo {
  background-color: var(--Cor-blackPal);
  color: var(--Cor-white);
}

#mobton {
  color: var(--Cor-white);
  font-size: 1rem;
  font-family: Arial, "Helvetica", sans-serif;
  font-weight: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

button {
  background-color: var(--Cor-transparent);
  width: 100%;
  height: 100%;
  padding: 1px;
  border: none;
}

.c_title_h1_aside {
  background-color: var(--Cor-blackPal);
  width: 100%;
  height: 50px;
  border-radius: 15px;
  padding: 5px;
  display: flex;
  align-items: center;
}

#title_h1_aside {
  color: var(--Cor-white);
  font-family: "Arial", Helvetica, sans-serif;
  padding: 5px;
  font-size: 2rem;
}

#parag_aside {
  background-color: var(--Cor-transparent);
  color: var(--Cor-white);
  font-family: Arial, "Helvetica", sans-serif;
  font-size: 1rem;
  padding: 5px;
  text-align: justify;
  letter-spacing: 0px;
}

main {
  background-color: var(--Cor-black);
  width: 1000px;
  gap: 10px;
  padding: 0px 0px 80px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.divicont {
  background-color: var(--Cor-transparent);
  width: 100%;
  height: 600px;
  gap: 5px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.divicont1 {
  background-color: var(--Cor-transparent);
  width: 100%;
  height: 600px;
  gap: 5px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow: auto;
}

#sub_fcmp1,
#sub_fcmp2 {
  background-color: var(--Cor-transparent);
  width: 100%;
  padding: 0px 0px 0px 15px;
  font-family: Arial, "Helvetica", sans-serif;
  font-size: 1.4rem;
  color: var(--Cor-white);
}

.sub_fcm_ft {
  width: 250px;
  padding: 0px 0px 40px 0px;
}

.fundo_first_title {
  background-image: url(room.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: var-(--Cor-transparent);
  width: 100%;
  height: 560px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.divimain {
  width: 100%;
  height: 560px;
  padding: 0px 0px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sub_fcm {
  background-color: var(--Cor-transparent);
  width: 100%;
  height: 550px;
  padding: 5px;
  gap: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#tcm_vid,
.sub_scm_ft,
#fcm_vid {
  background-color: var(--Cor-transparent);
}

#tcm_vid {
  width: 480px;
  height: 100%;
  padding: 2px;
}

.sub_scm_ft {
  width: 500px;
  height: 100%;
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#fcm_vid {
  width: 480px;
  height: 450px;
  padding: 2px;
}

#fndo_vid {
  width: 100%;
  height: 100%;
  padding: 2px;
}

.sub_fcm_hpp,
.sub_scm_hpp,
.sub_tcm_hpp {
  background-color: var(--Cor-transparent);
  width: 500px;
  height: 100%;
  padding: 5px;
  gap: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sub_fcm_hpp {
  padding: 0px;
}

.sub_scm_hpp {
  padding: 0px;
}

.sub_tcm_hpp {
  padding: 0px;
}

#paragmain {
  background-color: var(--Cor-transparent);
  color: var(--Cor-white);
  font-family: Arial, "Helvetica", sans-serif;
  font-size: 1.4rem;
  width: 100%;
  height: 300px;
  padding: 10px;
  text-align: justify;
}

#title_h1 {
  color: var(--Cor-white);
  color: vblue;
  font-size: 3.5rem;
  font-family: Emblema one;
}

#titleparag {
  background-color: var(--Cor-transparent);
  color: var(--Cor-white);
  font-family: "Arial", Helvetica, sans-serif;
  font-size: 2.8rem;
  padding: 10px 10px 10px 10px;
}

.footerpajlan {
  border-top: 0.2px solid var(--Cor-white);
  width: 100vw;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer {
  width: 1000px;
  height: 290px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.first_container_footer {
  width: 100%;
  height: 280px;
  background-color: var(--Cor-transparent);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer_nav {
  background-color: var(--Cor-transparent);
  border-bottom: 0.2px solid var(--Cor-white);
  padding: 25px 0px 0px 0px;
  width: 1000px;
  height: 230px;
  gap: 100px;
  display: flex;
  align-content: center;
  justify-content: center;
}

.title_footer {
  background-color: var(--Cor-transparent);
  padding: 10px 0px;
  color: var(--Cor-TextCinza);
  font-family: 'Arial', Helvetica, sans-serif;
  font-size: 1.3rem;
  border-radius: 5px;
  justify-content: center;
}

.nav_menu {
  width: 120px;
  background-color: var(--Cor-transparent);
  list-style: none;
}

.footer_nav li {
  background-color: var(--Cor-transparent);
  padding: 3px 0px 3px 0px;
}

.nav_menu a {
  color: var(--Cor-white);
  font-size: 1.3rem;
}

.nav_social {
  background-color: var(--Cor-transparent);
  width: 1000px;
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px 0px 0px 0px;
}

#footer_copyright {
  color: var(--Cor-TextCinza);
  font-family: Arial, "Helvetica", sans-serif;
}

.medias {
  background-color: var(--Cor-transparent);
  width: 350px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: right;
}

.media_social {
  background-color: var(--Cor-transparent);
  gap: 20px;
  width: 100%;
  height: 60px;
  text-decoration: none;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.media_link {
  background-color: white;
  width: 45px;
  height: 45px;
  border-radius: 8px;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.media_linkz {
  background-color: #25d366;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 1080px){
  .aside_E{
    visibility: hidden;
  }  
}
@media screen and (max-width: 1080px){
  .c_aside_R{
    visibility: hidden;
  }  
}
@media screen and (max-width: 1080px){
  .divicont{
    flex-direction: column;
    gap: 50px;
  }  
}